{% extends 'account_page/base_full_width.html' %}
{% load crispy_forms_tags %}

{% block main_area %}
    <main class="form-signin w-100 m-auto">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <br/>
            <h1 class="h3 mb-3 fw-normal">Sign up</h1>

            <div class="form-floating">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="text" name="nickname" class="form-control" id="floatingInput" placeholder="Nickname">
                <label for="floatingInput">Nickname</label>
            </div>
            <div class="form-floating">
                <input type="date" name="date_of_birth" class="form-control" id="floatingInput" placeholder="YYYY-MM-DD">
                <label for="floatingInput">Date of birth</label>
            </div>
            <div class="form-floating">
            <div class="form-check">
                <input type="radio" name="is_seller" class="form-check-input" id="flexCheckDefault" value="True">
                <label for="form-check-label">Seller</label>
                <br/>
                <input type="radio" name="is_seller" class="form-check-input" id="flexCheckDefault" value="False">
                <label for="form-check-label">Customer</label>
            </div>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" name="check_password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Check password</label>
            </div>
            
            <br/>
            <button class="w-100 btn btn-lg btn-outline-dark" type="submit">Sign up</button>
            <p class="mt-5 mb-3 text-muted">&copy; Team 6law</p>
        </form>
    </main>
{% endblock %}