{% extends 'ask/base_full_width.html' %}

{% block main_area %}
    {%if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff%}
            <a class="btn btn-outline-dark btn-sm float-end" href="/ask/create_post/"
            role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;Upload Question</a>
         {% endif %}
    {% endif %}    

<h1>Ask Page
    {% if category %} <span class="badge bg-secondary">{{ category }}</span>{% endif %}
</h1>
<br/>
<ul class="list-group">
    {%if post_list.exists%}
        {% for p in post_list %}
        <!-- Ask Post -->
        <li class="list-group-item" id="post-{{p.pk}}">
            <div class="card-body">
                <h2 class="title">{{ p.title }}&nbsp;&nbsp;
                    <a href="{{ p.get_absolute_url }}" class="btn btn-outline-dark">자세히 보기 &rarr;</a>
                </h2>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ p.created_at }} by
                <a href="#">{{p.author | upper}}</a>
            </div>
        </li>
        {% endfor %}
    {% else %}
        <h3>아직 질문글이 없습니다.</h3>
    {% endif %}
</ul>
{% endblock %}