{% extends 'ask/base_full_width.html' %} 
{% load crispy_forms_tags %}

{% block head_title %}
    {{ post.title }} - ASK
{% endblock %}
 
{% block main_area %}
    <div id="post-area">
        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>
        <h5 class="text-muted">{{post.hook_text}}</h5>

        <!-- Author -->
        <p class="lead">
            by
            <a href="#">{{post.author|upper}}</a>
        </p>

        <hr>

        {% if user.is_authenticated and user == post.author %}
        <a class="btn btn-outline-dark btn-sm float-right" href="/ask/update_post/{{post.pk}}/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;Edit question</a>
        {% endif %}
        <hr>

        <!-- Date/Time -->
        <p>업로드 시간 : {{ post.created_at }}</p>

        <hr>

        <!-- Post Content -->
        <h5>질문 내용</h5>
        <br/>
        <p>{{ post.content }}</p>

        {% if post.file_upload %}
        <a href="{{ post.file_upload.url }}" class="btn btn-light" role="button" download>Downlaoad</a>

            {% if post.get_file_ext == 'csv' %}
                <i class ="fas fa-file-csv"></i>
            {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}    
                <i class ="fas fa-file-exel"></i>
            {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}    
                <i class ="fas fa-file-word"></i>
            {% else %}
                <i class ="far fa-file"></i>
            {% endif %}

            {{ post.get_file_name }}
        </a> 
        {% endif %}
        <hr>
    </div>    

    <div id="comment-area">
        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Answer :</h5>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <form id="comment-form" method="POST" action="{{ ask.get_absolute_url }}new_answer/">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ comment_form | crispy }}
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                    </form>
                {% else %}
                    <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/login/">Log in and leave a answer</a>
                {% endif %}
            </div>
        </div>
        <hr>

        {% if post.answer_set.exists %}
            {% for answer in post.answer_set.iterator %}
                <!-- Single Comment -->
                <div class="media mb-4" id="answer-{{ answer.pk }}">
                    <div class="media-body">
                        <h5 class="mt-0">{{ answer.author.nickname }} &nbsp;
                            <small class="text-muted">{{ answer.created_at }}</small>
                        </h5>
                        <p>{{ answer.content | linebreaks }}</p>
                        {% if answer.created_at != answer.modified_at %}
                            <p class="text-muted float-right"><small>Updated: {{ answer.modified_at }}</small></p>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
    </div>
 {% endblock %}