{% extends 'guide/base_full_width.html' %}

{% block main_area %}
    <h1>Guide Page</h1>
    <br/>
    <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">고객 가이드</li>
        <li class="list-group-item">1. 로그인 페이지에서 회원가입을 합니다.</li>
        <li class="list-group-item">2. 원하는 점포를 검색하세요.</li>
        <li class="list-group-item">3. 해당 점포의 빈자리를 확인하고, 방문하거나 연락을 통해 예약해 보세요!</li>
        <li class="list-group-item disabled" aria-disabled="true">(예약시스템 추후 도입 예정)</li>
    </ul>
    <br/>
    <br/>
    <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">점주 가이드</li>
        <li class="list-group-item">1. 로그인 페이지에서 회원가입을 합니다.</li>
        <li class="list-group-item">2. STORE 페이지에서 점포를 등록하고 정보를 추가하세요.</li>
        <li class="list-group-item">3. 리뷰 이벤트 등 여러 이벤트를 시행해 보세요!</li>
    </ul>
    <br/>
{% endblock %}