<!DOCTYPE html>
<html>
    {% load static %}
</html>

<head>
    <title>{% block head_title %}Main{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/fca3077327.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Footer -->
    <footer class="py-5 bg-dark mt-auto">
        <div class="container">
            <p class="m-0 text-center text-white">
                6law_Hackathon
            </p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>